<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<div align="center">
<h2>User Register</h2>

    <form method="POST">
        <input type="text" name="name" placeholder="name"> <br>
        <input type="text" name="username" placeholder="username"> <br>
        <input type="text" name="unhashedPassword" placeholder="unhashedPassword"> <br>
        <input type="text" name="email" placeholder="email"> <br>
        <input type="text" name="phoneNumber" placeholder="phoneNumber"> <br>
        <input type="text" name="pincode" placeholder="pincode"> <br>
        <input type="text" name="address" placeholder="address"> <br>

        <input type="submit" value="submit">
        <input type="reset" value="reset">
    </form>

</div>

</body>
</html>
